# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
venv/
ENV/

# Logs
*.log
*.pid
*.sock

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Node
node_modules/

# Data
app/data/

# IDEs
.vscode/
.idea/
